/********** min480px************/
@media screen and (min-width: 480px) {
  aside#menu .none {
    display: initial;
  }
  aside#menu .future-none {
    display: none;
  }
  aside#menu > nav > ul > li:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  aside#menu {
    width: 50px;
    padding: 10px;
  }
}
/********** 768px************/
@media screen and (max-width: 768px) {
  #head-btn {
    padding: 10px 5px;
  }
  #principal-container header {
    height: 80px;
  }
  #principal-container main {
    padding-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  #folder {
    flex-direction: row;
  }
  .sector-card {
    width: 25%;
  }
}

/********** 1200px************/

@media screen and (min-width: 1200px) {
  .sector-card {
    width: calc(100% / 6);
  }
}
