/* VARIABLE */
:root {
  --footer-h: 100px;
  --header-h: 100px;
}

/***--- Generics ---***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif, "Fredoka One", cursive;
}

ul {
  list-style-type: none;
}

a:not(.not) {
  text-decoration: none;
  color: #666;
}
a:not(.not):hover {
  color: #fff;
}

/***--- /Generics ---***/

/******************** CONTENT 
****************************/

/***+ SCROLLBAR +***/

::-webkit-scrollbar {
  background-color: hsl(222deg 38% 5%);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fff);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, hsl(244deg 60% 73%));
}

/***+ SCROLLBAR +***/

/* WEB-APP */

#web-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

/********************* <
PRINCIPAL-CONTAINER 
 *********************/

/********************* 
/PRINCIPAL-CONTAINER 
*********************/
#principal-container {
  height: calc(100vh - var(--footer-h));
  background-color: hsl(219deg 26% 11%);
}
/********* 
ASIDE 
 ********/

aside#menu {
  flex: 0 0 50px;
  background-color: #000;
  padding: 10px;
}
aside#menu img:not(.not) {
  width: 40px;
  vertical-align: middle;
  margin: 5px 0;
}
button#download {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  color: #666;
  border: 1px solid #666;
  background-color: #000;
  border-radius: 50%;
}
.download-btn:hover button#download {
  color: #fff;
  border-color: #fff;
}

nav a:not(#logo):not(a:hover) {
  filter: invert(0.5);
  color: #fff;
}
/* non sapendo cambiare colore all'svg ho sfruttato invert 0.5 che equivale a grigio qualora Non si passi sopra con il mouse */
#playlist span {
  color: #666;
}
#navigation-bar a > span {
  color: #fff;
}

/********* 
HEADER 
********/
#principal-container header {
  position: fixed;
  height: var(--header-h);
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  /* sto avendo seri problemi a distinguere i colori XD */
}
#head-btn {
  font-weight: bold;

  padding: 30px 50px;
}

/********* 
/MAIN 
********/
#principal-container main {
  height: calc(100vh - var(--footer-h));
  /* questo valore non è neccessario ma lo impostiamo lo stesso, mi da cmq maggior controllo */
  padding-top: var(--header-h);
}
/********************* <
FOOTER 
*********************/
footer {
  height: var(--footer-h);
  background-color: hsl(0deg 0% 16%);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
footer button {
  background-color: inherit;
  border: 0;
  color: #fff;
  margin: 5px;
}
#play {
  font-size: 1.2em;
  vertical-align: middle;
}
/********************* 
/FOOTER 
*********************/
#console {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer img {
  width: 40px;
}
/* WEB-APP */

/********
shared
*********/
.circle40px {
  height: 40px;
  width: 40px;
  background-color: #666;
  border-radius: 50%;
}
.addict-btn > button {
  height: 40px;
  width: 40px;
  background-color: #666;
  border: 0;
  font-size: 36px;
  vertical-align: middle;
}
.addict-btn:hover > button {
  background-color: #fff;
}
#playlist .addict-btn:hover > span {
  color: #fff;
}
