/* VARIABLE */
:root {
  --: ;
}

/***--- Generics ---***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif, "Fredoka One", cursive;
}

ul {
  list-style-type: none;
}

a:not(.not) {
  text-decoration: none;
}

/***--- /Generics ---***/

/******************** CONTENT 
****************************/

/***+ SCROLLBAR +***/

::-webkit-scrollbar {
  background-color: hsl(222deg 38% 5%);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fff);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, hsl(244deg 60% 73%));
}

/***+ SCROLLBAR +***/

/* WEB-APP */

#web-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

/********************* <
PRINCIPAL-CONTAINER 
 *********************/

/********************* 
/PRINCIPAL-CONTAINER 
*********************/
#principal-container {
  height: calc(100vh - 120px);
  background-color: hsl(219deg 26% 11%);
}
/********* 
ASIDE 
 ********/

aside#menu {
  flex: 0 0 50px;
  background-color: #000;
}

/********* 
HEADER 
********/
#principal-container header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  /* sto avendo seri problemi a distinguere i colori XD */
}
/********* 
/MAIN 
********/
#principal-container main {
  height: calc(100vh - 100px);
  /* questo valore non è neccessario ma lo impostiamo lo stesso, mi da cmq maggior controllo */
  padding-top: 100px;
}
/********************* <
FOOTER 
*********************/
footer {
  flex: 0 0 100px;
  background-color: hsl(0deg 0% 16%);
}
/********************* 
/FOOTER 
*********************/

/* WEB-APP */

/********
shared
*********/
